/*******************************************************************
* Spacing : Margin and padding realted css rules;
*******************************************************************/
.no-padding 						{padding: 0px !important}
.padding-1 							{padding: 1px !important}
.padding-2 							{padding: 2px !important}
.padding-4 							{padding: 4px !important}
.padding-3 							{padding: 3px !important}
.padding-5 							{padding: 5px !important}
.padding-top-5 						{padding-top: 5px !important}
.padding-left-5 					{padding-left: 5px !important}
.padding-right-5 					{padding-right: 5px !important}
.padding-bottom-5 					{padding-bottom: 5px !important}
.padding-10 						{padding: 10px !important}
.padding-top-10 					{padding-top: 10px !important}
.padding-left-10 					{padding-left: 10px !important}
.padding-right-10 					{padding-right: 10px !important}
.padding-bottom-10 					{padding-bottom: 10px !important}
.padding-15 						{padding: 15px !important}
.padding-top-15 					{padding-top: 15px !important}
.padding-left-15 					{padding-left: 15px !important}
.padding-right-15 					{padding-right: 15px !important}
.padding-bottom-15 					{padding-bottom: 15px !important}
.padding-20 						{padding: 20px !important}
.padding-top-20 					{padding-top: 20px !important}
.padding-left-20 					{padding-left: 20px !important}
.padding-right-20 					{padding-right: 20px !important}
.padding-bottom-20 					{padding-bottom: 20px !important}
.padding-25 						{padding: 25px !important}
.padding-top-25 					{padding-top: 25px !important}
.padding-left-25 					{padding-left: 25px !important}
.padding-right-25 					{padding-right: 25px !important}
.padding-bottom-25 					{padding-bottom: 25px !important}
.padding-30 						{padding: 30px !important}
.padding-35 						{padding: 35px !important}
.padding-40 						{padding: 40px !important}
.padding-top-40 					{padding-top: 40px !important}
.padding-left-40 					{padding-left: 40px !important}
.padding-right-40 					{padding-right: 40px !important}
.padding-bottom-40 					{padding-bottom: 40px !important}
.padding-45 						{padding: 45px !important}
.padding-50 						{padding: 50px !important}
.padding-top-50 					{padding-top: 50px !important}
.padding-top-60 					{padding-top: 60px !important}
.padding-top-70 					{padding-top: 70px !important}
.padding-top-80 					{padding-top: 80px !important}
.padding-left-50 					{padding-left: 50px !important}
.padding-right-50 					{padding-right: 50px !important}
.padding-bottom-50 					{padding-bottom: 50px !important}

.no-margin 							{margin: 0px !important}
.margin-2 							{margin: 2px !important}
.margin-top-2 						{margin-top: 2px !important}
.margin-top-3 						{margin-top: 3px !important}
.margin-top-4 						{margin-top: 4px !important}
.margin-5 							{margin: 5px !important}
.margin-top-5 						{margin-top: 5px !important}
.margin-left-5 						{margin-left: 5px !important}
.margin-right-5 					{margin-right: 5px !important}
.margin-bottom-5 					{margin-bottom: 5px !important}
.margin-10 							{margin: 10px !important}
.margin-top-10 						{margin-top: 10px !important}
.margin-top-11 						{margin-top: 11px !important}
.margin-top-12 						{margin-top: 12px !important}
.margin-top-13 						{margin-top: 13px !important}
.margin-top-14 						{margin-top: 14px !important}
.margin-left-10 					{margin-left: 10px !important}
.margin-right-10 					{margin-right: 10px !important}
.margin-bottom-10 					{margin-bottom: 10px !important}
.margin-top-10 						{margin-top: 10px !important}
.margin-15 							{margin: 15px !important}
.margin-top-15 						{margin-top: 15px !important}
.margin-left-15 					{margin-left: 15px !important}
.margin-right-15 					{margin-right: 15px !important}
.margin-bottom-15 					{margin-bottom: 15px !important}
.margin-20 							{margin: 20px !important}
.margin-top-20 						{margin-top: 20px !important}
.margin-left-20 					{margin-left: 20px !important}
.margin-right-20 					{margin-right: 20px !important}
.margin-bottom-20 					{margin-bottom: 20px !important}
.margin-25 							{margin: 25px !important}
.margin-top-25 						{margin-top: 25px !important}
.margin-left-25 					{margin-left: 25px !important}
.margin-right-25 					{margin-right: 25px !important}
.margin-bottom-25 					{margin-bottom: 25px !important}
.margin-30 							{margin: 30px !important}
.margin-top-30 						{margin-top: 30px !important}
.margin-left-30 					{margin-left: 30px !important}
.margin-right-30 					{margin-right: 30px !important}
.margin-bottom-30 					{margin-bottom: 30px !important}
.margin-top-35 						{margin-top: 35px !important}
.margin-left-35 					{margin-left: 35px !important}
.margin-right-35 					{margin-right: 35px !important}
.margin-bottom-35 					{margin-bottom: 35px !important}
.margin-top-40 						{margin-top: 40px !important}
.margin-left-40 					{margin-left: 40px !important}
.margin-right-40 					{margin-right: 40px !important}
.margin-bottom-40 					{margin-bottom: 40px !important}
.margin--5 							{margin: -5px !important}
.margin-top--10						{margin-top: -10px !important}
.margin-top--15						{margin-top: -15px !important}
.margin-top--20						{margin-top: -20px !important}
/*******************************************************************
* Font styles
*******************************************************************/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);*/
.font-8  	{font-size:8px !important;}
.font-10  	{font-size:10px !important;}
.font-11  	{font-size:11px !important;}
.font-12  	{font-size:12px !important;}
.font-13  	{font-size:13px !important;}
.font-14  	{font-size:14px !important;}
.font-15  	{font-size:15px !important;}
.font-16  	{font-size:16px !important;}
.font-17  	{font-size:17px !important;}
.font-18  	{font-size:18px !important;}
.font-19  	{font-size:19px !important;}
.font-20  	{font-size:20px !important;}
.font-21  	{font-size:21px !important;}
.font-22  	{font-size:22px !important;}
.font-23  	{font-size:23px !important;}

.weight-100 {font-weight: 100 !important}
.weight-200 {font-weight: 200 !important}
.weight-300 {font-weight: 300 !important}
.weight-400 {font-weight: 400 !important}
.weight-500 {font-weight: 500 !important}
.weight-600 {font-weight: 600 !important}
.weight-700 {font-weight: 700 !important}

body {font-family: 'Montserrat', sans-serif; background: #ededed;position: relative;}

div.bg-img {
	margin-top:0px;
	background: url(../img/test_image.jpg) ;
	background-size: cover;
    background-repeat: no-repeat;
	text-transform: uppercase;
}


.text-white 					{color:#fff; text-transform: uppercase !important}
.text-dark 						{color: #000;font-size: 20px}
.bg-white 						{background-color: #fff !important}
.bg-dark-lighter				{background-color: #1d3640 !important}
.bg-dark 						{background-color: #222a2d !important}
.no-border 						{border-radius: 0px;border: none}
.profile-border 				{border-radius: 5px;border: 1px solid grey}
.profile-picture 				{width: 120px; height: 120px;}
.restaurant-name 				{color:#fff;margin:10px 20px !important;position:absolute;bottom:0px;left:130px}
nav >* ,
ul.navbar-nav:hover li a,
.transparent 					{background-color: transparent !important;}
.no-text-decoration 			{ text-decoration: none !important}
a.list-group-item.active 		{background-color: #222a2d !important;border-color: #222a2d}
.menu-items 					{border-radius: 0px;padding:0px;margin:0px;border:none}
.menu-items>div.list-group-item 	{border-radius: 0px;font-weight:400;border: none;}
.panel,.panel-body,.panel-default {border:none}
.border-bottom-grey 			{border-bottom: solid black 1px}
.list-group-item,.list-group,.navbar 	{border-radius: 0px !important}
.fa-plus-circle:hover 			{color: orange;	cursor: pointer;}
.fa-minus-square-o:hover		{color: red;	cursor: pointer;}
.full-width 					{width:100% !important}
nav.affix 						{background:#FFF !important;z-index:100;}
nav.affix a.navbar-brand		{color:#000 !important}
nav.affix #navbar a.btn-default,
nav.affix #navbar ul li a i 	{color:#000 !important;border-color: #000}
.fixed-left-menu 				{position:fixed;top:56px;z-index: 10;}
.fixed-right-menu 				{position:fixed;top:46px;z-index: 10;}
.fixed-bottom-menu 				{position:fixed;bottom:0px;z-index: 10;width:100%;left:0px}
.affix{
    top: 0px !important;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sheet {
	cursor: pointer;
}
.bs-docs-sidenav.affix {
  position: static;
  width: auto;
  top: 0;
}

@media (min-width:992px) and (max-width:1200px){
	.restaurant-name 			{left:150px;bottom:-120px;}
	.restaurant-name h3			{font-size: 18px !important}
}

@media (min-width:769px) and (max-width:992px) {
	.restaurant-name 			{left:-30px;margin:0;}
	.restaurant-name h3			{font-size: 16px !important}
}

@media (max-width:768px) {
	.restaurant-name 			{left:0px;margin:0;}
	.restaurant-name h3			{font-size: 16px !important}
}

.container 					{padding-left:0;padding-right:15px;}
.row 						{margin-left:0;margin-right:-15px;}
.row > div 					{padding-left:0;padding-right:15px;}
.grid-page-img-text 		{position:absolute;bottom:10px;left:0px;padding:2px;background:#ededed;opacity: 0.8;color:black;}
.text-grey 					{color:#d3d3d3;}
.img-responsive-grid 			{
	background-position: 50%;
  	background-repeat: no-repeat;
  	background-size: cover;
	width:100%;
	height:170px;
}
div.dotted {height:1px;border-top: dotted grey 1px !important ;width: 100%}
